.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #FFF9E4;
  text-align: center;
}

.question-block {
  display: flex;
  flex-direction: column;
  height: 200%;
}

.question-section {
  width: 100%;
}

.question-count {
  padding-bottom: 4px;
  border-bottom: 3px solid black;
  text-align: left;
  font-weight: 300;
}
.question-text {
  margin-top: 10px;
  margin-bottom: 10px;
  /* height: 200px; */
  font-weight: 700;
  font-size: 24px;
  transition: all 0.3s;
}
.answer-section {
  width: 100%;
}
.answer-section button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding: 0px 20px;
  border-radius: 4px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  transform: translateX(-4px) translateY(-4px);
  transition: all 0.2s;
}
.answer-section button:nth-child(1) {
  border: 4px solid #571530;
  background-color: #000000	;
  color: #ffffff;
  box-shadow: 4px 4px 0px 0px #571530;
}

.answer-section button:nth-child(2) {
  border: 4px solid #15451F;
  background-color: #ff0000;
  color: #0D2B14;
  box-shadow: 4px 4px 0px 0px #15451F;
}

.answer-section button:nth-child(3) {
  border: 4px solid #594A16;
  background-color: #ffcc00;
  color: #403510;
  box-shadow: 4px 4px 0px 0px #594A16;
}

.answer-section button:nth-child(4) {
  border: 4px solid #003153;
  background-color: #3C9BF2;
  color: #102940;
  box-shadow: 4px 4px 0px 0px #163959;
}

.wrongAnswer {
  text-align: left;
  border-top: solid 1px black;
  padding-top: 4px;
  margin-bottom: 4px;
}

.correctAnswer {
  margin-top: 4px;
  margin-bottom: 4px;
}

.correctAnswerBottom {
  margin-bottom: 8px;
}

.score-section {
  padding-bottom: 4px;
  width: 100%;
}
.score-section h2 {
  font-size: 32px;
}
.score-section h3 {
  margin: 10px 0px 10px 0px;
}
.score-section img {
  height: 30px;
  width: 30px;
}
.score-section p {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
}
.score-section span {
  font-size: 24px;
  font-weight: 400;
}
.rightAnwsers, .wrongAnwsers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.messages {
  border-top: 3px solid black;
  width: 100%;
}
.messages img {
  margin-top: 20px;
  width: auto;
  height: 250px;
}
.messageResult {
  margin-top: 40px;
}

.choose-language {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.choose-language button {
  margin: 4px;
  padding: 4px;
  width: 40%;
  background-color: black;
  color: white;
  font-size: medium;

}

.only-german {
  color: red;
  border: 2px solid red;
  padding: 4px 12px;
  margin: 12px 0px
}

.question-image {
  width: 80%;
  height: auto;
  margin: 16px auto;
}